doctype html
html
  head
    link(rel='icon', href='/images/xhtml/favicon.ico', type='image/x-icon')
    title Frontend | XHTML | Exercise 7
  body
    p
      a(href='../exercise_06',
        title='P&aacute;gina principal de Mi sitio',
        rel='index')
          | Volver a la p&aacute;gina principal
    h1 Ultimos proyectos
    p
      | Lorm ipsum dolor sit amet, consectetuer adispiscing elit. Donec
      | iaculis posuere justo. Nam vel neque.
    h2 Proyecto 1
    p
      | Etiam consectetuer, mauris vitae cursus scelerisque, dui turpis
      | dignissim justo, et euismod enim odio sit amet erat.
    p
      a(href='/images/xhtml/proyect1.jpg',
        title='Imagen del proyecto 1',
        type='image/jpg')
          | Ver imagen de proyecto 1
    h2 Proyecto 2
    p
      | Etiam consectetuer, mauris vitae cursus scelerisque, dui turpis
      | dignissim justo, et euismod enim odio sit amet erat.
    p
      a(href='/images/xhtml/proyect2.jpg',
        title='Imagen del projecto 2',
        type='image/jpg')
          | Ver imagen de proyecto 2
